mixin competitions-list(competitions)
    section.col-xs-12.col-sm-6.col-md-12
    each competition in competitions
        article.search-result.row
          .col-xs-12.col-sm-12.col-md-3
            a.thumbnail(href='#', title='Lorem ipsum')
              //- img(src='/static/imgs/competitions-imgs/'+competition.image, alt='Competition image')
              img(src='http://lorempixel.com/250/140/people', alt='Lorem ipsum')
          .col-xs-12.col-sm-12.col-md-2
            ul.meta-search
              li
                i.glyphicon.glyphicon-calendar
                span #{competition.startDate}
              li
                i.glyphicon.glyphicon-tags
                span #{competition.category}
              li
                i.glyphicon.glyphicon-user
                span By 
                    a(href='/users/organizator') #{competition.organizator}
          .col-xs-12.col-sm-12.col-md-7.excerpet
            h2
              a(href='/competitions/'+competition._id) #{competition.name}
            p  #{competition.place}
            span.plus
              a(href='/competitions/' + competition._id, title='Lorem ipsum') Go to page 
          span.clearfix.borda

        //- img(src='/static/imgs/competitions/'+ competitions.image alt='competition photo')
        //- h2 
        //-     a(href="/competitions/"+ competition._id) #{competition.name}
        //- h3
        //-     a(href="/competitions/"+ competition._id) #{competition.place}
        //- p Organized by 
        //-     a(href='/users/'+competition.organizator) #{competition.organizator}
