extends _layout

block content

    #info
        h1 Information
            p
                h3 Place #{result.place}
                h3 Organizator
                    a(href="user/" +result.organizator._id)  #{result.organizator}
                h3 Category #{result.category}
                h3 Level - #{result.level}
                h3 Points - #{result.points}
                h3 Tags 
                //- div(id="map") 
                //-     img(id="map-image" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAnMEg3EOPkAf0dDFAF6LveVv8E-NUG9Wo&center=" + result.location.latitude + "," +result.location.longitude+ "&zoom=13&size=500x500&sensor=false")     
                ul
                each tag in result.keys
                    li #{tag}

             
                    