extends _layout

block content

    div(id="info" data-id=result._id)
        h1 Information
            p
                h3 Place #{result.place}
                h3 Organizator
                    a(href="users/" +result.organizator)  #{result.organizator}
                h3 Category #{result.category}
                h3 Level - #{result.level}
                h3 Points - #{result.points}
                h3 passed - #{result.passed}
                h3 isOrgan - #{result.isOrgan}
                h3 Tags 
                //- div(id="map") 
                //-     img(id="map-image" src="http://maps.googleapis.com/maps/api/staticmap?key=AIzaSyAnMEg3EOPkAf0dDFAF6LveVv8E-NUG9Wo&center=" + result.location.latitude + "," +result.location.longitude+ "&zoom=13&size=500x500&sensor=false")     
                ul
                each tag in result.keys
                    li #{tag}
                
                h2 Joined users
                table(id="joined-users")
                    tr
                        th User
                    each user in result.joinedUsers
                        tr 
                            td
                                a(href="/users/" + user.username) #{user.username}
                            if result.isOrgan
                            td
                                button.addPoints(data-id=user.username +" "+ result.points data-category=result.category) addPoints
                                block scripts
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/toastr/toastr.js")
    script(src="/static/js/add-points.js")
    
                block joining

             
                    