extends _layout

block content

        h1 #{result.title}
        p #{result.description}
        p Posted by #{result.user.username}(#{result.user.points})
        p Posted on #{result.date}
        p.likes Likes: #{result.likes}
        if (result.answers.length)
            h3 Answers
            each answer in result.answers
                p #{answer.user.username}(#{answer.user.points}) : #{answer.content}
                p Posted on #{answer.date}
                p.likes Likes: #{answer.likes}
                    //-TODO: send put request 
                    button(id="like-post-answer") Like  
        form(action=`/forum/${result._id}/comment` method="post")
            label(for="comment")
            input(id="comment" class="form-control" type="text" name="content" placeholder="Comment")
            input(type="submit" class="btn btn-lg" value="Comment")         