extends _layout

//- TODO: delete file

block styles
    link(rel="stylesheet" type="text/css" href="/static/bower_components/toastr/toastr.css")

block content
    ul.list.list-horizontal.list-pages.text-center
        - for(let i = 1; i <= result.params.pages; i+=1 )
            li
                if result.params.page === i
                    a.btn.btn-danger.disabled(href="/forum?page=" + i)
                        = i
                else
                    a.btn.btn-danger(href="/forum?page=" + i)
                        = i
    each forumPost in result.forumPosts
        div(id="post-info" data-id=forumPost._id)
            h3.forum-post
                a(href="/forum/"+ forumPost._id)= forumPost.title
            p Posted by #{forumPost.user.username}(#{forumPost.user.points})
            p.likes Likes: 
                span(id='post-likes-count') #{forumPost.likes}
                if result.user
                    if forumPost.usersLiked.indexOf(result.user.username) < 0
                        button.like-post Like
                    else
                        button.unlike-post Unlike            
    if result.user                           
        a(href="/forum/create") Create Post
    block scripts
    script(src="/static/bower_components/jquery/dist/jquery.min.js")
    script(src="/static/bower_components/toastr/toastr.js")
    script(src="/static/js/like-unlike-forum.js")