extends _layout

block content
    if result.searchName
        div
            p Search: #{result.searchName}   
    each competition in result.competitions
        h3 
            a(href="/competitions/"+ competition._id)= competition.name
        h4 Category: #{competition.category}
        h4 #{competition.status}
        h4 #{competition.place}
        p By #{competition.organizator}
        br
       

            

