extends _layout

block content
   .wrapper
      .header.header-filter(style="background-image: url('/static/imgs/nature-wallpapers26.jpg');")
      .main.main-raised(style="margin-top: -500px;")
        .profile-content
          .container
            .row
                .col-md-3(style="margin-top: 5px;")
                    img.img-rounded(src='/static/imgs/user-images/'+result.userForProfile.image, alt='Rounded Image')
                    h3 Username: #{result.userForProfile.username}
                .col-md-6.col-md-offset-1
                    .name
                        h3 Full name: #{result.userForProfile.firstName} #{result.userForProfile.lastName}
                        if result.birthDate
                            div
                                strong Birth date: 
                                span #{result.userForProfile.birthDate}
                        h3 Progress
                        
                        block progress
                        table
                            tr
                                td Total points
                                td #{result.userForProfile.progress.totalPoints}
                            each category in result.userForProfile.progress.categoriesPoints
                                tr
                                    td #{category.name}
                                    td #{category.points}
                        
                        block joinedCompetitions
                        block atendedCompetitions 
                        block edit  

                                 
