extends ../_layout

block styles
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css")

block content
    .main
        .container(style='margin-top: 60px')
          .row(id="post-info" data-id=result.forumPost._id)
             //- Blog Post Content Column
             //- Blog Post
             //- Title
             .page-header.page-heading
               h1 #{result.forumPost.title}
             //- Post Content
             p.lead.post-description #{result.forumPost.description}
             hr
                           //- Date/Time
             p
               span.glyphicon.glyphicon-time
               |  Posted on #{result.forumPost.date}
             hr
                           //- Author
             p
               | by 
               a(href='/users/'+result.forumPost.user.username) #{result.forumPost.user.username}
             hr
             p.likes Likes: 
                span(id='post-likes-count') #{result.forumPost.likes}
                if result.currentUser
                    if result.forumPost.usersLiked.indexOf(result.currentUser.username) < 0
                        button.btn.btn-info.like-post Like
                    else
                        button.btn.btn-info.unlike-post Unlike
             //- Blog Comments
             
             //- Posted Comments
             //- Comment
             if result.forumPost.answers.length
               h3.comments Comments: #{result.forumPost.answers.length}
               hr
               each answer in result.forumPost.answers 
                   .media
                     .media-body(id="post-answer-info" data-id=answer._id)
                       p.lead #{answer.content}
                       p.comment-info
                         span.glyphicon.glyphicon-time
                         |  Posted on #{result.forumPost.date} by 
                         a(href='/users/'+result.forumPost.user.username) #{result.forumPost.user.username}
                       p.likes Likes: 
                         span(id='post-answer-likes-count') #{answer.likes}
                         if result.currentUser
                             if answer.usersLiked.indexOf(result.currentUser.username) < 0
                                 button.btn.btn-info.btn-sm.like-post-answer Like
                             else
                                 button.btn.btn-info.btn-sm.unlike-post-answer Unlike
                     hr
                           //- Author
             else 
               h3.comments No comments to this post 
             if result.user
              .well
                form(action=`/forum/${result.forumPost._id}/comment` method="post" role="form")
                  .form-group.comment-input
                    textarea.form-control.input-lg(name="content" placeholder="Leave a comment")
                  input.btn.btn-info(type='submit' value="Comment")
              hr
            
block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js")
    script(src="/static/js/like-unlike-forum.min.js")  